black==26.1.0
cfgv==3.5.0
click==8.3.1
colorama==0.4.6
distlib==0.4.0
filelock==3.24.3
identify==2.6.16
iniconfig==2.3.0
isort==8.0.0
mypy_extensions==1.1.0
nodeenv==1.10.0
packaging==26.0
pathspec==1.0.4
platformdirs==4.9.2
pluggy==1.6.0
pre-commit==4.5.1
Pygments==2.19.2
pytest==9.0.2
python-discovery==1.1.0
pytokens==0.4.1
PyYAML==6.0.3
setuptools==82.0.0
virtualenv==21.0.0
wheel==0.46.3
mypy==1.19.1
flake8==6.1.0
build==1.1.0
mypy==1.19.1
flake8==6.1.0
pytest-cov==4.1.0
